html, body, main {
    margin: 0;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    background-color: rgb(18, 40, 48);
}
.grid-container {
    display: flex;
    height: calc(100vh - 50px);
}
.grid {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
.grid-table {
    border-collapse: collapse;
    border-spacing: 0;
}

.unvisited {
    background-color: white;
}

td {
    border: 1px solid lightblue;
    height: 25px;
    width: 25px;
}

@keyframes visitedStartNodeBlueAnimation {
    0% {
      transform: scale(.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1.0);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

@keyframes wallAnimation {
    0% {
        transform: scale(.3);
        border-radius: 100%;
    }
    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}
@keyframes nodeAnimation {
    0% {
        transform: scale(.3);
        border-radius: 100%;
    }
    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.0);
    }
}
.start-node {
    
    background-image: url('./Images/arrow-icon--myiconfinder-23.png');
    
    background-size: contain;
    /*
    animation-name: nodeAnimation;
    animation-duration: 0.5s;*/
}
.end-node {
    background-image: url('./Images/149-1491115_transparent-target-symbol-png-target-icon-transparent-background.png');
    background-size: cover;
}
.wall {
    background-color: rgb(13, 13, 39);
    animation-name: wallAnimation;
    animation-duration: 0.5s;
}
.path {
    background-color: rgb(245, 255, 157);
    border-color: rgb(245, 255, 157);
    animation-name: wallAnimation;
    animation-duration: 0.5s;
}
.visited {
    background-color: rgba(0, 190, 218, 0.75);
    animation-name: visitedStartNodeBlueAnimation;
    animation-duration: 1s;
}