@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
:root {
  --size: 50px;
  --grid-interact: auto;
  --nav-height: 75px;
  --node-cursor: grab;
  --grid-cursor: pointer;
  --font-size: 12px;
  --visibility: hidden;
}

body {
  --toggle: 1;
  --playState: "idle";
  --animation-speed: 0.5s;
  --animation-speed-path: 0.5s;
  --animation-speed-visited: 500ms;
  --visit-delay: 100ms;
}

html,
body,
main {
  margin: 0;
  height: 100%;
  font-family: "Krona One", sans-serif;
}

.nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--nav-height);
  background-color: rgb(3, 36, 43);
}
.nav-title {
  display: flex;
  align-items: center;
  color: white;
  margin: 0 10px;
  width: 350px;
  height: 100%;
}
.nav-title h1 {
  font-size: 25px;
  margin: auto;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
.clear-button {
  background-color: transparent;
  color: white;
  pointer-events: var(--grid-interact);
}
.clear-button button:focus {
  outline: none;
  box-shadow: none;
}
.clear-button button {
  height: 30px;
  text-align: center;
  color: white;
  background-color: grey;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}
.algo-button button:focus {
  outline: none;
  box-shadow: none;
}
.circle {
  background-color: rgb(41, 173, 118);
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-right: 10px;
}
.algo-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: var(--grid-interact);
}
.algo-button button {
  height: 30px;
  color: white;
  background-color: green;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
}
.view-distance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 5px;
  width: 104px;
  font-size: 10px;
  color: white;
}

.settings-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  color: white;
}
.settings-title {
  margin-top: 10px;
}
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  width: 100%;
  color: white;
}

.slider {
  display: flex;
  align-items: center;
  padding-right: 10px;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    width: 300px;
    -webkit-appearance: none;
    background-color: rgba(23, 136, 93, 0.808);
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    width: 300px;
    -webkit-appearance: none;
    color: white;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -300px 0 0 300px white;
  }
}
input {
  cursor: pointer;
}
.speed {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - var(--nav-height));
}
.loader h3 {
  font-size: 100px;
  height: 100px;
}

.grid-container {
  display: flex;
  height: calc(100vh - var(--nav-height));
}
.grid {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  cursor: var(--grid-cursor);
}
.grid-table {
  border-collapse: collapse;
  border-spacing: 0;
  pointer-events: var(--grid-interact);
}

.unvisited {
  cursor: var(--grid-cursor);
  background-color: white;
}
.unvisited:hover {
  background-color: rgba(236, 233, 32, 0.11);
}

td {
  border: 1px solid lightblue;
  height: var(--size);
  width: var(--size);
}
.specs {
  color: rgb(13, 13, 39);
  font-size: var(--font-size);
  visibility: var(--visibility);
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@keyframes visitedStartNodeBlueAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes startNodeAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.start-node {
  border-radius: var(--size);
  cursor: var(--node-cursor);
  background-image: url("./Images/arrow-icon--myiconfinder-23.png");

  background-size: contain;

  animation-name: startNodeAnimation;
  animation-duration: calc(var(--toggle) * var(--animation-speed));
  animation-play-state: var(--playState);
}
.start-node:active {
  position: absolute;
  border-color: transparent;
}
@keyframes endNodeAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.noanimation * {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}
.end-node {
  cursor: var(--node-cursor);
  background-image: url("./Images/targetreal.png");
  background-size: cover;
  animation-name: endNodeAnimation;
  animation-duration: calc(var(--toggle) * var(--animation-speed));
  animation-play-state: var(--playState);
}
.end-node:active {
  position: absolute;
  border-color: transparent;
}
.wall {
  cursor: var(--grid-cursor);
  background-color: rgb(13, 13, 39);
  animation-name: wallAnimation;
  animation-duration: calc(var(--toggle) * var(--animation-speed));
  animation-play-state: var(--playState);
}
.path {
  cursor: var(--grid-cursor);
  background-color: rgb(238, 228, 91);
  border-color: rgb(238, 228, 91);
  animation-name: wallAnimation;
  animation-duration: calc(var(--toggle) * var(--animation-speed-path));
  animation-play-state: var(--playState);
}
.visited {
  cursor: var(--grid-cursor);
  background-color: rgba(247, 233, 46, 0.75);
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: calc(var(--toggle) * var(--animation-speed-visited));
  animation-play-state: var(--playState);
  animation-fill-mode: forwards;
  animation-delay: var(--visit-delay);
}
.visited-immediate {
  cursor: var(--grid-cursor);
  background-color: rgba(0, 190, 218, 0.75);
}
.path-immediate {
  cursor: var(--grid-cursor);
  background-color: rgb(238, 228, 91);
  border-color: rgb(238, 228, 91);
}

@keyframes deepRedAnimation {
  0% {
    background-color: rgba(0, 190, 218, 0.75);
    /*border-radius: 100%;*/
  }

  100% {
    background-color: rgb(255, 0, 55);
  }
}

.deepred {
  cursor: var(--grid-cursor);
  background-color: rgb(255, 0, 55);
  animation-name: deepRedAnimation;
  animation-duration: calc(var(--toggle) * var(--animation-speed-path));
  animation-play-state: var(--playState);
}

.distance {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding-right: 40px;
}
