:root {
  --size: 50px;
}

html,
body,
main {
  margin: 0;
  height: 100%;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(18, 40, 48);
}
.nav-title {
  color: white;
  margin: 0 10px;
}
.clear-button {
  color: white;
}
.clear-button button:focus {
  outline: none;
  box-shadow: none;
}
.clear-button button {
  background-color: white;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
.algo-button button:focus {
  outline: none;
  box-shadow: none;
}
.algo-button button {
  color: white;
  background-color: rgb(61, 156, 112);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.slider label {
  color: white;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.loader h3 {
  font-size: 40px;
  height: 100px;
}

.grid-container {
  display: flex;
  height: calc(100vh - 50px);
}
.grid {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.grid-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.unvisited {
  background-color: white;
}

td {
  border: 1px solid lightblue;
  height: var(--size);
  width: var(--size);
}

@keyframes visitedStartNodeBlueAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes startNodeAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.start-node {
  background-image: url("./Images/arrow-icon--myiconfinder-23.png");

  background-size: contain;

  animation-name: startNodeAnimation;
  animation-duration: 0.5s;
}
@keyframes endNodeAnimation {
  0% {
    transform: scale(0.3);
    border-radius: 100%;
  }
  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
.end-node {
  background-image: url("./Images/targetreal.png");
  background-size: cover;
  animation-name: endNodeAnimation;
  animation-duration: 0.5s;
}
.wall {
  background-color: rgb(13, 13, 39);
  animation-name: wallAnimation;
  animation-duration: 0.5s;
}
.path {
  background-color: rgb(238, 228, 91);
  border-color: rgb(238, 228, 91);
  animation-name: wallAnimation;
  animation-duration: 0.5s;
}
.visited {
  background-color: rgba(0, 190, 218, 0.75);
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 1s;
}
.visited-immediate {
  background-color: rgba(0, 190, 218, 0.75);
}
.path-immediate {
  background-color: rgb(238, 228, 91);
  border-color: rgb(238, 228, 91);
}
